.DS_Store
node_modules
/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ambiente de desarrollo local
.env.local
.env.development.local
.env.test.local
.env.production.local

# Archivos de registro
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
/.idea
/.vscode

# Otros archivos y directorios que deseas ignorar
